*
  font-family: 'Times New Roman', Times, serif

.row
  height: 100vh
  overflow-y: auto
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.left-panel
  padding: 15px
  border: 0
  background-color: aliceblue

@media (max-width: 767px)
  .left-panel
    margin-right: unset
    margin-bottom: 10px

.right-panel
  background-image: url("/assets/background/b2.jpg")
  background-repeat: no-repeat
  padding: 15px
  border: 0
  background-size: cover

.searchBar
  padding-bottom: 10px
  border-bottom: 2px solid #333
