*
  color: #ffffff

.detail-desc
  max-height: 100vh

.city-name
  font-size: 20px

.refresh
  margin-top: 3px
  cursor: pointer

span.cursor
  color: #a4a2a2
  font-size: 21px

span.cursor:hover
  color: #ffffff


img
  width: 150px

.borderless
  border: none
  background-color: transparent

li .img
  width: unset

.cursor
  cursor: pointer

.list-group-horizontal
  overflow-x: auto
