<ngx-spinner></ngx-spinner>
<div class="detail-desc" *ngIf="detailData; else blankPage">
  <span class="city-name font-weight-bold">{{ detailData.name }}</span>
  <div class="pull-right refresh">
    <span class="cursor">
      <i class="fa fa-refresh fa-spin" *ngIf="refresh"></i>
      <i class="fa fa-refresh" *ngIf="!refresh" (click)="refreshAll(detailData.name)"></i>
    </span>
  </div>

  <div class="row p-3">
    <div class="col-md-4 col-6 weather-icon">
      <img class="img float-right" src="assets/animated/{{ detailData.weather[0].main }}.svg"
        onerror="this.src='assets/animated/cloudy-day-1.svg';" alt="..." />
    </div>
    <div class="col-md-6 col-6">
      <div class="p-2 display-4">
        {{ (detailData.main.temp-273.15) | number:'1.0-0' }}<sup>&deg;</sup><span>C</span>
      </div>
      <div class="p-2">
        {{ detailData.weather[0].main }}
      </div>
      <div class="p-2">
        <i class="fa fa-arrow-up"></i> {{ detailData.main.temp_max-273.15 | number:'1.0-0' }} &nbsp;&nbsp;&nbsp; <i
          class="fa fa-arrow-down"></i> {{ detailData.main.temp_min-273.15 | number:'1.0-0' }}
      </div>
    </div>
  </div>

  <div class="row details mb-3" *ngIf="futureData">
    <div class="m-2 w-100 text-uppercase text-left">
      details
    </div>
    <div class="col-md-6">
      <div class="p-1 text-uppercase">
        wind
      </div>
      <div class="mb-3">
        {{ detailData.wind.speed*3.6 | number:'1.1-1' }} km/h {{ detailData.wind.deg }}<sup>&deg;</sup>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-1 text-uppercase">
        Humidity
      </div>
      <div class="mb-3">
        {{ detailData.main.humidity }} %
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-1 text-uppercase">
        Visibility
      </div>
      <div class="mb-3">
        {{ detailData.visibility/1000 }} km
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-1 text-uppercase">
        Pressure
      </div>
      <div class="mb-3">
        {{ detailData.main.pressure }} hPa
      </div>
    </div>
  </div>

  <div class="row" *ngIf="futureData">
    <div class="col-md-12">
      <div class="dailyForecast">
        <div class="text-label-foreast text-uppercase">
          Daily forecast
        </div>
        <ul class="list-group list-group-horizontal">
          <div class="text-center" *ngFor="let item of futureData.list">
            <li class="list-group-item borderless">
              <div>
                {{ item.dt*1000 | date:'E' }}
              </div>
              <div>
                {{ item.dt*1000 | date:'MMM d' }}
              </div>
              <span><img class="img" src="assets/animated/{{ item.weather[0].main }}.svg"
                  onerror="this.src='assets/animated/cloudy-day-1.svg';" alt="..." /></span>
              <span class="">{{ (item.temp.day-273.15) | number:'1.0-0' }}<sup>&deg;C</sup></span>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #blankPage>
  <div class="col-md-12 text-center p-4 detail-desc">
    Detail Weather Forecast
  </div>
</ng-template>
