<ngx-spinner></ngx-spinner>
<div class="col-md-12 p-2">
  <input class="search" #searchVal [(ngModel)]="searchText" name="searchText" type="text" placeholder="Type city name"
    aria-label="Search" min="3" (keyup)="triggerClickEvent($event)">
  <span class="add" [class.notAllowed]="!searchVal.value"><i class="fa fa-plus cursor"
      [class.disabled]="!searchVal.value" [attr.disabled]="!searchVal.value" (click)="addToList()"></i></span>

  <div *ngIf="msgShow" [ngClass]="['snackbar-wrap', msgType]">
    <span class="snackbar-text">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      {{ errorMsg }}
      <button type="button" class="close" (click) = "clearModal()" aria-label="close">
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
    </span>
  </div>
</div>
